:root {
  --CRIMSON: #dc143c;
  --WHITE: #fff;
  --SALMON: #fa8072;
  --CRIMSON-L: rgba(250,128,114,0.5);
}
#navbar {
  background-color: var(--CRIMSON) !important;
}
a.navbar-brand {
  color: var(--WHITE) !important;
}
a.navbar-brand:hover {
  color: var(--SALMON) !important;
}
.boton {
  border-color: var(--CRIMSON);
  color: var(--CRIMSON);
}
.boton:hover {
  background-color: var(--CRIMSON);
  color: var(--WHITE);
  border-color: var(--SALMON);
}
input.form-control:focus {
  color: var(--CRIMSON-L) !important;
}
